
<launch>
  <!-- <arg name="audio_path" default = "$(find xf_mic_asr_offline)" /> -->

  <rosparam command="load" file="$(find xf_mic_asr_offline)/config/recognition_params.yaml" />

  <node pkg="xf_mic_asr_offline" type="call_recognition" name="call_recognition" />

  <node pkg="xf_mic_asr_offline" type="command_recognition" name="command_recognition" output="screen">
  <param name="audio_path" type="string" value="$(find xf_mic_asr_offline)"/>  
  </node>

  <node pkg="xf_mic_asr_offline" type="node_feedback" name="node_feedback" output="screen">
  	<param name="audio_path" type="string" value="$(find xf_mic_asr_offline)"/>  
  </node>
 
</launch>
